/* lightbox stiilid */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.lightbox .gallery-item {
    width: auto;
    max-width: none;
    aspect-ratio: auto;
    border-radius: 0;
    border: none;
    box-shadow: none;
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lightbox .gallery-item img {
    max-width: 70%;
    max-height: 70%;
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 0;
    border: none;
    box-shadow: none;
    display: block;
}
.lightbox .prev,
.lightbox .next {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
    background-color: transparent;
    color: #ffffff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    z-index: 1001;
}
.lightbox .prev {
  left: 20px;
}
.lightbox .next {
  right: 20px;
}
.lightbox .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  color: #ffffff;
  background: none;
  cursor: pointer;
  border: none;
  z-index: 1001;
}