body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0;
    background-color: #33cccccc;
    width: 100%;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
    color: #e0e0e0;
}