body {
    font-family: Inter, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 20px 0;
    background-color: #008989;
    width: 100%;
}

nav a {
    margin: 10px;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    padding-left: 20px;
}

nav a:hover {
    text-decoration: underline;
    color: #e0e0e0;
}

.header-image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: min(70vh, 900px);
    max-width: 100%;
}

.header-image-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.625);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.header-image img {
    width: 100%;
    height: 100%;
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.header-container {
    position: relative;
    width: 100%;
    height: min(70vh, 900px);
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text-container {
    position: absolute;
    z-index: 3;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.666);
}

header h1 {
    font-size: 2.5rem;
    color: #000;
    padding: 20px;
    font-weight: 300;
}